*{
    margin:0;
    padding:0;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x:hidden;
}
/* NAVBAR */
i{
    cursor:pointer;
    color:white;
}
nav{
    font-size:1.3rem;
    display:flex;
    justify-content:space-around;
    padding: 1% 0;
    background: rgba(0, 0, 0, 0.296);
    align-items: center;
    position: absolute;
    top:0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    width:100%;
}
#nowrap{
    white-space: nowrap;
}
nav a{
    text-decoration: none;
    color:white;
}
#logo{
    font-size:2.5rem;
}
/* NAVBAR RESPONSIVENESS & SIDEBAR */
.burger{
    display:flex;
    cursor:pointer;
    flex-flow: column;
    display:none;
    margin-right: 3%;
}
.burger-line{
    margin-top: 2px;
    background:white;   
    width: 20px;
    height:3px;
}
.sidebar{
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    width:100%;
    background:rgba(0, 0, 0, 0.296);
    right:0;
    top:100%;
    text-align:center;
    padding-right:1%;
    text-transform: uppercase;
    font-size: 1.5rem;
    position:absolute;
    transition: .3s ease-in-out;
    transform:translateX(0%);
}
.hidden{
    transform:translateX(100%);
}
.store-links, .auth-links{
    align-items: center;
    display:flex;
    justify-content:space-between;
}
.store-links a, .auth-links a{
    margin: 0 5%;
}
.hero{
    background:url("../img/hero-bg.jfif");
    width: 100vw;
    height:100vh;
    background-size:cover;
    background-position: center;
}

/* POPULAR SECTION */

#popular{
    width: 80%;
    padding:1% 10%;
}
.section-title{
    text-align: center;
    font-size: 2.6rem;;
    text-transform: uppercase;
    margin: 3% 0;
}
.popular-container{
    display:flex;
    justify-content: center;
}
.product-popular{
    margin: 0 5%;
    border:1px solid rgb(189, 186, 186);
    font-size:1.2rem;
    flex:1;
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    align-items:center;
    text-align: center;
}
.product-info{
    margin-bottom: 5%;;
}
.product-popular img{
    width: 80%;
    margin: 10%;
    margin-bottom: 5%;;
}
.product-popular p{
    width: 60%;
    margin: 0 20%;
}

#hero-adidas{
    margin-top: 5%;
    background:url("../img/adidas-hero.jpg")no-repeat;
    background-size:cover;
    position: relative;
    width: 100%;
    background-position: bottom;
    height: 80%;
}
#hero-adidas .hero-desc{
    width: 35%;
    font-size:2rem;
    position:absolute;
    right: 5%;
    top: 15%;
}
.hero-desc p{
    font-size: 1.6rem;
    margin-bottom: 3%;
}
.hero-desc a{
    text-decoration: none;
    color:white;
    border:2px solid white;
    border-radius: 20px;
    padding: 1% 5%;
}

.about{
    width: 100%;
    padding: 1% 25% 4% 25%;
    background: rgb(218, 216, 216);
}
.about h1{
    width:50%;
}
.about p{
    font-size:1.4rem;
    width: 50%;
}
/* FOOTER */

footer{
    padding: 5%;
    display:flex;
    height: 10vh;
    background:black;
    justify-content:space-between;
    color:white;
    position: relative;
}
.contacts, .support {
    display:flex;
    flex-flow: column;
    list-style: none;
}
.support a{
    text-decoration: none;
    color:white;
}
.newsletter{
    width:40%;
}
.newsletter-form {
    width: 100%;
    display:flex;
    height: 40%;
}
.newsletter-form input{
    width: 50%;
}
.newsletter-form #btn-subscribe{
    padding:0 10%;
    margin-left: 1%;
    font-size: 1.5rem;;
    cursor:pointer;
    justify-content: center;
    text-decoration: none;
    color:white;
    background:crimson;
}
footer p{
    position: absolute;
    bottom:1%;
    right:1%;
}

/* STORE---------------------------------------------------------------- */

.women-store-hero{
    background: url("../img/women-hero.jfif");
    background-size:cover;
    background-position: top;
    width:100vw;
    height:100vh;
}
.men-store-hero{
    background: url("../img/men-hero.jfif");
    background-size:cover;
    background-position: center;
    width:100vw;
    height:100vh;
}
.store-container{
    width:80%;
    margin: 10%;
    display:flex;
}
.filter-container{
    padding-top:3%;
    width: 20%;
    text-align: center;
    font-size: 1.4rem;
}
.filter-container h2{
    color:grey;
}
.filter-container select{
    font-size: 1.2rem;
    width: 80%;
    margin-bottom: 5%;
}
.product-container{
    z-index: 1;
    display:flex;
    flex-wrap: wrap;
    justify-content:start;
    width: 80%;
    padding: 3%;
}
.product-img img{
    transition:.3s ease-in-out;
}
.product-img img:hover{
    z-index: 0;
    transform:rotate(-10deg)scale(1.1);
}
.product-card{
    display:flex;
    flex-flow: column;
    justify-content:space-between;
    width: 31%;
    text-align: center;
    margin: 1%;
    border-radius: 10px;
    border: 1px solid rgb(179, 176, 176);
}
.product-card img{
    margin: 10%;
    width:80%;
}

/* AUTHENTICATION ---------------------------------------------------------------- */

.body-login{
    background:url("../img/login-background.jpg")no-repeat;
    background-size:cover
}
.auth-container{
    width: 70%;
    margin: 5% 15%;
    box-shadow: 1px 1px 5px;
    margin-top: 10%;
    display:flex;
    background:white;
}
#register{
    flex-flow: row-reverse;
}
#register .side-panel{
    padding: 10% 0;
}
#register .auth-form{
    margin: 10%;
}
.side-panel{
    width: 100%;
    background:crimson;
    color:white;
    text-align: center;
    padding: 15% 0;
}
.side-panel h1{
    font-size: 2rem;
    text-transform: uppercase;
}
.side-panel p{
    font-size:1.3rem;
    padding: 5%;
}
.auth-form{
    width: 80%;
    margin: 15% 10%;
    display:flex;
    flex-flow: column;
}
.auth-form h1{
    text-align: center;
    text-transform: uppercase;
    color:crimson;
    margin-bottom: 5%;
}
.auth-form input{
    padding: 1%;
    color:gray;
    width: 100%;
    margin-bottom: 3%;
    font-size:1.7rem;
}
.auth-form #btn-auth{
    background:transparent;
    border:2px solid crimson;
    color:crimson;
    text-transform: uppercase;
    cursor:pointer;
}
.auth-form label{
    color: gray;
}
/* ADMIN PANEL ---------------------------------------------------------------- */

#body-admin{
    display:flex;
    overflow: hidden;
}
.icon-links{
    display:none;
}
.page-content{
    width: 80%;
    display:flex;
}
.admin-sidebar{
    width: 20vw;
    display:flex;
    flex-flow:column;
    background: crimson;
    color:white;
    text-align:center;
    height:100vw;
    font-family: 'Montserrat', sans-serif;
    font-size:2rem;
}
.admin-links{
    display:flex;
    flex-flow: column;
}
.admin-sidebar h1{
    font-size:3rem;
    margin-bottom: 10%;
}
.admin-sidebar a{
    color:white;
    overflow-x: hidden;
    margin: 1% 0;
    text-decoration: none;
}
.admin-sidebar a:hover{
    transition: .2s ease-in-out;
    border-left: 20px solid white;
}
.dashboard-container{
    width: 80vw;
    height:100vw;
    background:rgb(238, 238, 238);
}
/* PRODUCTS */
.products-summary{
    display:flex;
    flex-flow: column;
    justify-content:space-around;
    align-items:center;
    text-align: center;
    max-width: 15%;
    height: 30%;
    margin:5%;
    padding:1%;
    border-radius: 15px;
    border:1px solid grey;
}
.summary-card{
    height:33%;
    width:100%;
    display:flex;
    font-size:1.6rem;
    flex-flow: column;
    justify-content:center;
}
.summary-card h1{
    font-size:3rem;
}
.product-actions{
    display:flex;
    flex-flow: column;
    margin-top: 5%;
    padding: 1%;
}
.product-actions a{
    cursor: pointer;
    margin:3%;
    white-space: nowrap;    
    text-decoration: none;
    color:white;
    background: crimson;
    width: 100%;
    padding: 1% 10%;
    font-size:1.5rem;
}
.action{
    margin: 6%;
    width: 30%;
}
.action form{
    display:flex;
    flex-flow: column;
    width:100%;
}
.action form input, .action form select, .action form textarea{
    resize:none;
    margin: 2% 0;
    font-size:1.4rem;
}
.admin-select{
    font-size:1.4rem;
    margin: 2% 0;
}
.admin-submit{
    font-size:1.4rem;
    color:white;
    background:crimson;
    padding: 1% 5%;
    border:none;
    text-decoration: none;
    cursor:pointer;
}
/* USERS */

.admin-users{
    margin: 5%;
}
.admin-users select{
    font-size:1.4rem;
    margin-bottom:5%;
    padding: 1% 5%;
}
.user-info a{
    margin-top: 5%;
    background:crimson;
    font-size: 1.4rem;
    padding: 1% 5%;
    text-align: center;
    text-decoration: none;
    color:white;
}
.user-actions{
    display:flex;
    flex-flow: column;
}
.user-details{
    font-size:1.4rem;
}

/* ADMIN DASHBOARD */
.dashboard-container{
    display:flex;
    width: 80vw;
}
.statistics{
    margin:5%;
    border:1px solid black;
    background:white;
    max-height: 50vh;
    padding:1%;
}
.newsletter-statistics{
    margin-top: 5%;
    font-size:1.2rem;
}
.loyal-users{
    display:flex;
    background:white;
    flex-flow: column;
    justify-content:space-between;
    margin:5%;
    width:40%;
    border:1px solid black;
    height:80vh;
}
.loyal-users h1{
    padding:1%;
    text-decoration: underline;
    margin-bottom:1%;
}
.user-item{
    font-size:1.3rem;
    padding:1%;
    width: 100%;
}
/* CART ---------------------------------------------------------------- */

.cart-container{
    display:flex;
    width: 70%;
    margin:10% 15%;
    border:1px solid black;
}
.cart-items{
    width: 70%;
    border-right: 1px solid black;
}
.cart-item{
    margin: 3%;
    align-items: center;
    width:100%;
    display:flex;
    justify-content:start;
}
.cart-item img{
    width: 25%;
    height:100%;
    margin: 0 5%;
}
.cart-item h1{
    font-size:1.6rem;
    margin-top:3%;
}
.cart-item h3{
    margin-top:1%;
    font-size:1.4rem; 
}
.cart-summary{
    padding: 3%;
    width:30%;
}
.cart-summary h1{
    text-align: center;
    margin-bottom:5%;
}
.summary-item, .summary-total{
    margin: 1% 0;
    font-size:1.1rem;
    display:flex;
    justify-content:space-between;
}
.btn-checkout{
    width:100%;
    font-size: 1.3rem;
    background:crimson;
    cursor:pointer;
    color:white;
    padding:1%;
    margin-top:5%;
    border:none;
}
/* PRODUCT PAGE ---------------------------------------------------------------- */
#body-product{
    background: rgba(141, 141, 141, 0.186);
}
.product-box{
    width: 80%;
    margin: 10%;
    background:white;
    box-shadow: 1px 1px 5px;
    display:flex;
}
.product-box img{
    width: 48%;
    height:auto;
    margin: 1% ;
}
.desc-box{
    margin: 5% 0 5% 15%;
}
.desc-box p{
    width: 50%;
    margin-bottom: 5%;
    font-size: 1.4rem;
}
.size-select, .size-select select{
    font-family: 'Montserrat', sans-serif;
    font-size:1.4rem;
    margin-bottom:1%;
}

/* RESPONSIVENESS ---------------------------------------------------------------- */
@media screen and (max-width:1366px){
    .cart-container{
        width: 95%;
        margin:10% 2.5%;
    }
    .products-summary {
        height:40%;
    }
    .product-box{
        padding-bottom:3%;
        flex-flow: column;
        width: 60%;
        margin:10% 20%;
        align-items:center;
    }
    .product-box img{
        width: 70%;
    }
    .desc-box p{
        margin:1% 25%;
    }
    .desc-box{
        margin:0;
        text-align: center;
    }
}
@media screen and (max-width:1080px){
    #hero-adidas .hero-desc {
        top:1%;
        right:1%;       
    }
    footer{
        height:auto;
        flex-flow: column;
        align-items:center;
        text-align: center;
    }
    .newsletter-form{
        flex-flow: column;
    }
    .newsletter-form input{
        font-size: 1.3rem;
        width:100%;
        margin-bottom: 3%;
    }
    .newsletter-form #btn-subscribe{
        padding:0;
    }
    .product-card{
        width: 48%;
        margin: 0;
        margin-right: 1%;
        margin-bottom:3%;
    }
    .auth-container, #register{
        flex-flow: column;
        width: 80%;
        margin: 10%;
        margin-top: 25%;
    }
    .cart-container{
        flex-flow: column;
        margin-top: 20%;
    }
    .cart-items{
        width:100%;
    }
    .cart-summary{
        width:75%;
        margin: 1% 12.5%;
        padding:0;
    }
    .page-content{
        flex-flow: column;
    }
    .products-summary{
        height: 15%;
        flex-flow: row;
        max-width:unset;
    }
    .product-actions a{
        align-self:center;
        width: 75%;
    }
    .action{
        width: 90%;
        margin: 1% 5%;
    }
    .icon-links{
        display:flex;
        flex-flow: column;
    }
    .admin-links{
        display:none;    
    }
    #body-admin{
        overflow-y:unset;
    }
    .dashboard-container{
        flex-flow: column;
    }
    .loyal-users{
        width: 90%;
        margin: 5%;
        align-items:center;
        text-align: center;
    }
    .admin-sidebar{
        height:150vh;
    }
}
@media screen and (max-width:870px){ 
    .popular-container{
        flex-flow: column;
    }
    .product-popular{
        margin-bottom: 5%;
    }
    #hero-adidas .hero-desc {
        top:1%;
        left:1%; 
        width:70%;      
        font-size: 1rem;
    }
    #hero-adidas {
        background-position: left;
        position:relative;
        color:white;
    }
    #hero-adidas .overlay{
        position: absolute;
        width:100%;
        height:100%;
        background:rgba(0, 0, 0, 0.316);
    }
    .about{
        padding: 5% 0;
    }
    .about h1, .about p{
        width: 80%;
        padding: 0 10%;
    }
    footer p{
        text-align: center;
        margin-top: 5%;
        bottom: 0;
        left:0;
        font-size:.9rem;
    }
    .store-container{
        width:100%;
        margin:0;
        flex-flow: column;
    }
    .filter-container{
        width: 100%;
        margin:0;

    }
    .filter-container select{
        width: 60%;
        margin: 0 20%;
    }
    .product-container{
        width:80%;
        padding:10%;
    }
    .store-links, .auth-links{
        display:none;
    }
    .burger{
        display:flex;
    }
    .product-box{
        margin-top: 20%;
    }
}

@media screen and (max-width:700px){
    .product-card{
        width: 100%;
        margin: 0;
        margin-bottom:3%;
    }
   
}